# pybtex and PyYAML arrive as dependencies of larc-site-utils. asciidoc is no
# longer needed: the site is Markdown now.
pelican[markdown]>=4.11.0
larc-site-utils @ git+https://github.com/larc-iu/larc-site-utils@master
